.container {
  margin: auto;
  width: 50%;
  height: 100vh;
  padding: 15px;
  background-color: #85bdf1;
  margin-top: 10px;

}


.form {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.form input {
  width: 250px;
}


.delete-btn {
  float: right;
  border-radius: 100%;
  border: none;
  background-color: rgb(78, 7, 192);
  color: #fff;
  margin-top: 15px;


}